
<div class="container">
  <div class="columns">
    <div class="column is-12">
      <section class="hero is-info welcome is-small">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              Hello, <%= current_user.name %>.
            </h1>
            <h1><%= @time_off_data %> </h1>
            <h2 class="subtitle">
              I hope you are having a great day!
            </h2>
          </div>
        </div>
      </section>
      <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title"><%= current_user.total_days - current_user.days_taken%></p>
              <p class="subtitle">Days Left</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title"><%= current_user.total_days %></p>
              <p class="subtitle">Total Days</p>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title"><%= current_user.days_taken %></p>
              <p class="subtitle">Days Taken</p>
            </article>
          </div>
          <% if current_user.user_level == "admin" or current_user.user_level == 'manager' %>
          <div class="tile is-parent">
            <article class="tile is-child box">
              <p class="title"><%= current_user.user_level %></p>
              <p class="subtitle">Requests</p>
            </article>
          </div>
          <% end %>
        </div>
      </section>
      <div class="columns">
        <div class="column is-6">
          <div class="card events-card">
            <header class="card-header">
              <p class="card-header-title">Events</p>
              <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
              </a>
            </header>
            <div class="card-table">
              <div class="content">
                <table class="table is-fullwidth is-striped">
                  <tbody>
                  <% @events.each do |event| %>
                    <tr>
                      <td width="5%"><i class="fa fa-bell-o"></i></td>
                      <td><%= event.user.name %> (<%= event.user.job_title %>) is on <%= event.off_type %> from <%= event.start_date %> to <%= event.end_date %>  </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">View All</a>
            </footer>
          </div>
        </div>
        <div class="column is-6">
          <div class="card">
            <header class="card-header">
              <h4 class="title has-text-centered">Book Time Off</h4>
            </header>
            <div class="card-content">
              <button id="bookTimeOff" class="button is-block is-info is-large is-fullwidth">Book Now</button>
                <%= render 'partials/book_time_form' %>
            </div>
          </div>
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                User Search
              </p>
              <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
              </a>
            </header>
            <div class="card-content">
              <div class="content">
                <%= render 'partials/search_form' %>>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>