<%= form_with(model: holiday, local: true) do |form| %>
  <% if holiday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(holiday.errors.count, "error") %> prohibited this holiday from being saved:</h2>

      <ul>
      <% holiday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Edit Holiday
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            <div class="field select is-multiple">
              <div class="field-label is-normal">
                <%= form.label :holiday_date, class: "label" %>
              </div>
              <%= form.date_select :holiday_date %>
            </div>
            <div>
              <%= form.label :reason, class: "label" %>
              <%= form.text_field :reason, class: "input is-medium" %>
            </div>
          </div>
          <footer class="card-footer ">
            <%= form.submit class: "button is-success" %>

          </footer>
        </div>
      </div>
<% end %>
