
<% if @search_user_list %>
  <h1 class="title">User Search Results for "<%= @search_key %>"</h1>
  <div class="column is-half is-offset-one-quarter">
    <% @search_user_list.each do |user| %>
        <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"><%= user.name %></p>
              <p class="subtitle is-6"><a href="mailto:<%= user.email %>"><%= user.email %></a></p>
            </div>
          </div>

          <div class="content">
            <a>@<%= user.job_title %></a>
            <br>
            <time datetime="2016-1-1"><%= user.updated_at %></time>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h1>Could not find any results</h1>
<% end %>