<% if @permissions %>
  <%= render 'partials/heading', heading: 'Manager Permission', sub_heading: 'Control Permissions for ' + @permissions['manager'][0]['name'].to_s %>
  <p>Click the Checkboxes to Add Permissions to Manager</p>
  <%= form_tag '/admin/grant_permissions' do %>
    <div class="list is-hoverable">
      <input type="hidden" value="<%= @permissions['manager'][0]['id'] %>" name="manager_id">
      <% @permissions['users'].each do |user| %>
      <div class="list-item">
        <label><%= user['name'] %> | <%= user['job_title'] %> | <span class="has-text-left">Grant Permission <input class="checkbox" type="checkbox" name="permissions[]"  value="<%= user['id'] %>"></span></label>
      </div>
      <% end %>
    </div>
    <div class="box has-text-centered">
      <input type="submit" class="button is-success is-large" value="Add Permissions">
    </div>
  <% end %>
  <%= @permissions.to_s %>
<% else  %>
  <%= render 'partials/heading', heading: 'Manager Permission', sub_heading: 'Permissions ' %>
  <p>Select a Manager to apply Permissions to</p>
  <section class="list">
  <% @mangers.each do |manager| %>
      <%= form_tag '/admin/permission' %>
      <a class="list-item" onclick="parentNode.submit();">
          <input type="hidden" value="<%= manager['id'] %>" name="manager_id">
          <%= manager['email']%> | <%= manager['job_title'] %> | <%= manager['name'] %>
      </a>
    <% end %>
  <% end %>
</section>