<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      Timero (<%= Company.instance.company_name %> )
    </a>
  </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <% if user_signed_in? %>
        <%= link_to('Home', root_path, class: 'navbar-item') %>
        <%= link_to('Requests', '/requests', class: 'navbar-item') %>
        <%= link_to('Holidays', '/holidays', class: 'navbar-item') %>
        <%= link_to('News', '/news', class: 'navbar-item') %>

          <% if current_user.user_level == 'admin' %>
            <%= link_to('Admin', '/admin', class: 'navbar-item') %>
            <% end %>
          <%= render('partials/navbar_search') %>
        <% end %>


      </div>
      <div class="navbar-end">
      <% if user_signed_in? %>

        <%= link_to "Change your password", edit_user_registration_path, class: 'navbar-item' %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "navbar-item") %>

      <% end %>
        <%= link_to('Login', new_user_session_path, class: "navbar-item")  %>
      </div>
  </div>
</nav>